client/jat-frontend/node_modules
client/jat-frontend/build
client/jat-frontend/package-lock.json
client/jat-frontend/package.json
server/node_modules
server/package-lock.json
server/package.json

.env



